.edu{
    font-weight:400;
    margin-top:5%;
    text-align: center;
}
.educ{
    margin-left:35%;
    margin-right:35%;
    border:1px solid white;
    text-align: center;
    border-radius: 3%;
    border-bottom-color:yellow;
}
.educ span{
    font-weight:bold;
    font-size:150%;
    color:yellow;
    text-shadow: 3px 5px 10px blue;
}